PORT=3000
MONGODB_URI=
SESSION_SECRET=

NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
SESSION_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MONGO_URI=
USER_SESSION_SECRET=
ADMIN_SESSION_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

BASE_URL=